@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-body: var(--font-inter);
  --font-heading: var(--font-oswald);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
}